torch --index-url https://download.pytorch.org/whl/cpu
openvino --pre --extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly
diffusers
accelerate
controlnet-aux
optimum-intel
optimum